*{
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: lightgray;
}

.header{
    background-color: whitesmoke;
    padding: 15px;
    
    border-radius: 10px;
    max-width: 800px;
    margin: 10px auto 10px auto;
}

.header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.footer{
    text-align: center;
    color: rgb(50, 50, 50);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a{
    text-align: center;
    color: rgb(50, 50, 50);
}

.userInput{
    padding: 15px;
    margin: 10px auto 10px auto;
    border-width: 10px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    
    max-width: 800px;
}

h3{
    font-family: roboto,sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
}

p{
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height:120%;
    padding: 0 15px 0 15px;
}





.result{
    visibility: hidden;
    background-color: whitesmoke;
    margin: 10px auto 10px auto;
    color: black;
    text-align: center;
    padding: 15px;
    
    border-radius: 10px;
    max-width: 800px;
    
}




#submitBtn {
    background-color: #4e4e4e; /* Dark Grey */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    
}

#hoursDesired, #hourIn, #minIn, #hoursWorked {
    background-color: #d0d0d0;
    width: 50px;
    text-align: center;
    padding: 5px;
    
    border-style: none;
    border-width: 1px;
    border-color: darkslategrey;
    font-weight: normal;
    font-size: 16px;
    color: black;
    border-radius: 10px;
}

label{
    font-weight: bold;
    width: 1200px;
    text-align: left;
}


#needHours, #clockOutTime{
    
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: rgb(42, 42, 42);
    padding-bottom: 15px;

}